﻿<%@ Page Language="C#" Inherits="Assignment2btest.Assignment2btest" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Assignment2btest</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
