﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PagesNav.ascx.cs" Inherits="assignment2a.UserControls.PagesNav" %>
<asp:SqlDataSource 
    runat="server" 
    ID="pages_list"
    ConnectionString="<%$ ConnectionStrings:crud %>">
</asp:SqlDataSource>
<ul id="pageNav" runat="server" class="page-nav"></ul>